body {
    margin: 0;
    padding: 0;
    font-family: montserrat;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
}

header {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    background-color: black;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 80%;
    height: 60%;
    margin-bottom: 20px;
}

p {
    text-align: justify;
    font-weight: 400;
}

.home-button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: yellowgreen;
}

.contact-button, .home-button {
    display: inline-block;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 30px; /* Add margin for spacing between buttons */
}

.contact-button {
    margin-bottom: 15px;
    background-color: black;
    color: white;
}

.contact-button:hover {
    background-color: yellowgreen;
}

.footer {
    background-color: #201c1c; /* Black background color */
    color: #fff; /* White text color */
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    
}